.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}

.m-0 {
    margin: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mt-80 {
    margin-top: 80px;
}
.ml-0 {
    margin-left: 0 !important;
}
.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}


.d-block {
    display: block !important;
}
.align-item-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}

.text-white {
    color: #fff !important;
}
.border-0 {
    border: none !important;
}
.outline-0 {
    outline: none !important;
}


.btn-primary {
    border: none;
    outline: none;
    padding: 14px 15px;
    color: #fff;
    background-color: #93A5FF;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}


@media (min-width: 576px) {
    d-sm-none {
        display: none !important;

    }
    d-sm-block {
        display: block !important;

    }
    d-sm-flex {
        display: flex !important;

    }
}
@media (min-width: 768px) {

    d-md-none {
        display: none !important;

    }
    d-md-block {
        display: block !important;

    }
    d-md-flex {
        display: flex !important;

    }
}
@media (min-width: 992px) {
   

    d-lg-none {
        display: none !important;

    }
    d-lg-block {
        display: block !important;

    }
    d-lg-flex {
        display: flex !important;

    }
}

@media (min-width: 1200px) {
   

    d-ex-none {
        display: none !important;

    }
    d-ex-block {
        display: block !important;

    }
    d-ex-flex {
        display: flex !important;

    }
}

